body {
  font-family: "Averia Sans Libre", cursive;
  background-color: #e5e5e5;
  color: #000000;
  font-size: 18px;
  line-height: 1.12;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 80px;
}
/* about stules */
.about-position {
  color: #fb6d3a;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;

  margin-bottom: 15px;
}

.about {
  font-size: 18px;
  line-height: 1.12;
  width: 700px;
  margin-bottom: 10px;
}
.about-description {
  display: block;
}
.about-project {
  margin-left: 10px;

  font-size: 18px;
  line-height: 1.12;
}
.projects {
  margin-bottom: 30px;
}
/* progect styles */
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
.projects-list {
  padding: 0;
  margin-left: 15px;
}
.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.progect,
.progect-link {
  font-size: 18px;
  line-height: 1.12;
  color: #000000;
  font-weight: 700;
}
.progect-link {
  margin-left: 10px;
}

/* work styles */
.work {
  width: 650px;
}
.work-position {
  width: 600px;
  font-weight: 700;

  margin-bottom: 10px;
  margin-top: 0;
}
.organization {
  font-weight: 700;
  color: #fb6d3a;
  margin: 10px 0;
}

.line {
  font-size: 14px;
  line-height: 15px;
}
.work-list {
  padding: 0;
  margin: 0;
}
.work-list-item {
  margin-left: 17px;
  text-transform: capitalize;
}
/* Education styles */
.education {
  margin-top: 20px;
  width: 650px;
}
.education-name {
  font-weight: 700;
  color: #fb6d3a;
  margin-top: 12px;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 1.12;
}
.specialty {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.12;

  margin-top: 0;
  margin-bottom: 12px;
}

.education-list {
  padding: 0;
  margin-left: 15px;
}
.education-list-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.sidebar-container {
  margin-left: 40px;
  margin-bottom: 40px;
}
.sidebar-item {
  color: #fb6d3a;
}
.photo {
  width: 370px;
  margin-bottom: 51px;
}

.sidebar-list {
  padding: 0;
  margin-left: 17px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.sidebar-location {
  list-style: none;
  margin-top: 10px;
}
.contact-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.skills-text {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
